/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/EnterpriseApplication1/EnterpriseApplication1-war/build/
/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/EnterpriseApplication1/EnterpriseApplication1-war/dist/
/EnterpriseApplication1/build/
/EnterpriseApplication1/dist/